/* ==========================================================================


   Buttons


   ========================================================================== */



.button {

	display: inline-block;

	padding: 1em 2em;
	border-radius: 0.25em;

	margin-bottom: 1em;

}



.button + .button {

	margin-left: 1em;

}



.button--primary {

	background-color: $secondary-color;
	color: $primary-color;

	&:hover {
	
		border: 0;

	}

	&:focus,
	&:active {
	
		border: 0;

	}

}



.button--secondary {

	background-color: $primary-color;
	color: $white;

	padding: 0.9em 1.9em;

	border: 0.1em solid $secondary-color;

	&:hover {

		border: 0.1em solid $secondary-color;

	}

	&:focus,
	&:active {

		border: 0.1em solid $secondary-color;

	}

}