p {
	margin: 0;
	text-indent: em($font-leading);
	text-align: justify;

	-ms-word-break: normal;
	word-break: normal;
	/* Non standard for webkit */
	word-break: normal;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}
.align-right {
	text-align: right;
}

.first-paragraph {
	text-indent: 0;
}
.first-line {
	text-transform: uppercase;
	font-size: em(18);
	line-height: em(30,18);
}
.chapter-numbering {
	text-align: center;
	text-indent: 0;
	margin: 0 0 em($font-leading/2) 0;

}

a {
	text-decoration: none;
	color:$secondary-color;

	&:visited {
		// color: gray;
	}
	&:hover,
	&:focus,
	&:active {
		border-bottom:1px solid $secondary-color;
		color: $primary-color;
	}
}

h1, h2, h3 {
	font-family: $heading-family;
	font-weight: $heading-weight;
	margin: 0;
	letter-spacing: .01em;
}

h1 {
	font-size: em(map-get($heading-alpha, size));
	line-height: em(map-get($heading-alpha, leading),map-get($heading-alpha, size));
	margin-bottom: map-get($heading-alpha, leading)/map-get($heading-alpha, size) *0.5em;
}
h2 {
	font-size: em(map-get($heading-beta, size));
	line-height: em(map-get($heading-beta, leading),map-get($heading-beta, size));
	margin-bottom: map-get($heading-beta, leading)/map-get($heading-beta, size) *0.5em;
	text-align: center;
}
h3 {
	font-size: em(map-get($heading-gamma, size));
	line-height: em(map-get($heading-gamma, leading),map-get($heading-gamma, size));
	margin-bottom: map-get($heading-gamma, leading)/map-get($heading-gamma, size) *0.5em;
}