/* ==========================================================================


   Headings


   ========================================================================== */



h1, h2, h3 {

	font-family: $heading-family;
	font-weight: $heading-weight;
	margin: 0;
	letter-spacing: .015em;
	
}

h1, .size--xxl {

	font-size: em(30);
	line-height: number(32,30);
	margin-bottom: 32/30 *0.5em;
	text-align: left;

	@include mq($breakpoint-lap) {

		font-size: em(48);
		line-height: number(48,48);
		margin-bottom: 48/48 *0.5em;

	}

}

h2, .size--xl {

	font-size: em(24);
	line-height: number(30,24);
	margin-bottom: 30/24 *0.5em;
	text-align: center;

	@include mq($breakpoint-lap) {

		font-size: em(30);
		line-height: number(32,30);
		margin-bottom: 32/30 *0.5em;

	}
}

h3, .size--l {

	font-size: em(20);
	line-height: number(24,20);
	margin-bottom: 24/20 *0.5em;
	text-align: left;

	@include mq($breakpoint-lap) {

		font-size: em(24);
		line-height: number(30,24);
		margin-bottom: 30/24 *0.5em;

	}
}