/* ==========================================================================


   Links


   ========================================================================== */



a {

	display: inline-block;

	text-decoration: none;
	color: $primary-color;

	padding: 0 0.25em;

	&:visited {

		// color: gray;

	}

	&:hover,
	&:focus,
	&:active {

		// border-bottom: 1px solid $secondary-color;
		background-color: $secondary-color;
		// color: $primary-color;

	}

}