/* ==========================================================================


   Settings


   ========================================================================== */



$russian-black: #15001f;
$tangerine: #e69d00;



$primary-color: $russian-black;
$secondary-color: $tangerine;



$black: #222; /* protected variables */
$white: #eee; /* protected variables */



$font-weight: 400;
$font-size: 20;
$font-leading: 32;
$font-family: 'EB Garamond', Georgia, serif;



$font-line-length: 66;



$heading-weight: 700;
$heading-family: 'Playfair Display', sans-serif;
$heading-alpha: (
	size:		48,
	leading:	48
);
$heading-beta: (
	size:		30,
	leading:	32
);
$heading-gamma: (
	size:		24,
	leading:	30
);



/**
 * $font-size need to be set for this to work properly.
 */
$breakpoint-wrist: 321; 
$breakpoint-palm: 481;
$breakpoint-lap: 641;
$breakpoint-desk: 1025;
$breakpoint-wall: 1201;
$breakpoint-mall: 1601;